*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}


body{
    font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
}

.wrapper{
    padding:40px 0;
    display:flex;
    flex-direction: column;
    align-items: center;

}

.title p{
    color:#f7c243;
    font-size: 35px;
    margin-bottom: 100px;
}

.img{
    width: 300px;
    height: 445px;
    position:relative;
}

.img img{
    width:100%;
    height:100%;
    border-radius:2%;

}

.button{
    position: absolute;
    top: 30%;
    left: calc(50% - 26px);
    cursor: pointer;
}
.button button{
    background-color: #f18833;
    border-radius: 50%;
    padding:10px ;
    color:#fff;
    border:none;
}

#myVideo{
    position: fixed;
    right:0;
    bottom:0;
    min-width:100%;
    min-height:100%;
    z-index:-1;
}

.money{
    position: absolute;
    top:0;
    text-align: center;
    z-index: -1;
    padding:0 30px;
    animation: updown 2s linear 2s infinite;

}

.form{
    position: absolute;
    top:20%;
    width: 330px;
    color:#fff;
    z-index:3;
    text-align: center;
    padding: 25px 40px;
    background-color:#fceab5;
    color:#000;
    border-radius : 10px;
    height: 400px;
    display: none;
    transform:scale(0.5);
    transition: transform 3s;
    overflow: scroll;
}

.form button{
    padding: 10px 20px; 
    border:none;
    border-radius: 10px;
    background : #f7c243;
    color: #fff;
    margin-top: 30px;
    cursor: pointer;
}

.form h3{
    margin-bottom: 30px;
}

.pop-up{
    transform: scale(1) ;
    display:block;
}





.page{
    padding:25px 0;
    border-radius: 10%;
    color:#000;
    background-color:#fceab5;
}

@keyframes updown {
    10%{
        top:-10px;
    }

    20%{
        top:-20px;
    }
    10%{
        top:-10px;
    }
}
